requests==2.31.0
PIL==10.2.0
Markdown==3.6
markdownlit==0.0.7
requests-oauthlib==2.0.0
st-annotated-text==4.0.1
stanza==1.1.1
streamlit==1.33.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-drawable-canvas==0.9.3
streamlit-embedcode==0.1.2
streamlit-extras==0.4.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.3
streamlit-lottie==0.0.5
streamlit-on-Hover-tabs==1.0.1
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
